html {
    background: url(img/bg/back_solmir2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: Georgia;
    cursor: url(img/ui/cursor.png), default;
    color: #ddc151;
}

a {
    text-decoration: none;
    color: #ddc151;
}

main {
    margin: auto;
    display: flex;
    justify-content: center;
}

nav {
    width: 180px;
    overflow-x: hidden;
    margin-top: 0;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;
}

nav>a,
.dropdown-btn {
    padding: 6px 8px 6px 10px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

nav a:hover,
.dropdown-btn:hover {
    color: #f1f1f1;
}

.dropdown-container {
    display: none;
    padding-left: 25px;
}

.dropdown-container a {
    font-size: 16px;
}

#content {
    margin-left: 10px;
    width: calc(75% - 190px);
}

#full {
    width: 100%;
    margin: auto;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
/*@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}*/

#spellbox img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#spellbox p {
    margin: -10px;
}

.popbox {
    display: none;
    position: absolute;
    z-index: 99999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #efc66e;
    width: 20em;
    border: 30px solid transparent;
    -moz-border-image: url(img/ui/border.png) 30 round;
    -webkit-border-image: url(img/ui/border.png) 30 round;
    -o-border-image: url(img/ui/border.png) 30 round;
    border-image: url(img/ui/border.png) 30 round;
    background-image: url('img/bg/default_bg.jpg');
}

.window_blue {
    border: 30px solid transparent;
    -moz-border-image: url(img/ui/border.png) 30 round;
    -webkit-border-image: url(img/ui/border.png) 30 round;
    -o-border-image: url(img/ui/border.png) 30 round;
    border-image: url(img/ui/border.png) 30 round;
    background-image: url('img/bg/default_bg_blue.jpg');
}

.window_dark_blue {
    border: 30px solid transparent;
    -moz-border-image: url(img/ui/border.png) 30 round;
    -webkit-border-image: url(img/ui/border.png) 30 round;
    -o-border-image: url(img/ui/border.png) 30 round;
    border-image: url(img/ui/border.png) 30 round;
    background-image: url('img/bg/default_bg_blue_dark.jpg');
}

table {
    border-collapse: collapse;
    margin: auto;
}

td img {
    width: 3em;
}

#heroes_table {
    overflow-x: auto;
}

#heroes_table td:nth-child(1) {
    font-size: 80%;
}

#heroes_table td:nth-child(4) img {
    width: 80%;
}

th {
    font-size: 85%;
}

th,
td {
    border: 1px solid grey;
    padding: 5px;
    background-image: url('img/bg/default_bg_blue_dark.jpg');
    text-align: center;
    vertical-align: middle;
}