body {
    font-family: Georgia;
}

.bordered_table {
    border: 30px solid transparent;
    -moz-border-image: url(img/ui/border.png) 30 round;
    -webkit-border-image: url(img/ui/border.png) 30 round;
    -o-border-image: url(img/ui/border.png) 30 round;
    border-image: url(img/ui/border.png) 30 round;
    background-image: url('img/bg/default_bg_blue.jpg');
    color: hsl(48, 67.3%, 59.2%);
}
th,
td {
    border: 1px solid grey;
    padding: 10px;
    background: linear-gradient(135deg, #f5a905, #efc66e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    vertical-align: middle;

}

td:nth-child(1) {
    font-size:80%;
}