body {
  font-family: Georgia;
  cursor: url(img/ui/cursor.png), default;
  background-image: url('img/bg/default_bg_blue_dark.jpg');
  color: hsl(48, 67.3%, 59.2%);
}

a{
  text-decoration: none;
  color: hsl(48, 67.3%, 59.2%);
}

/* Style page content */
.main {
  padding-left:10px;
  margin-left: 230px;
  margin-top: -220px;
}

.sidenav {
  height: 70%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: sticky;
  top: 0;
  background-image: url('img/bg/default_bg_blue_dark.jpg');
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-top: 0;
  border: 30px solid transparent;
  border-image: url(img/ui/border.png) 30 round;
  -moz-border-image: url(img/ui/border.png) 30 round;
  -webkit-border-image: url(img/ui/border.png) 30 round;
  -o-border-image: url(img/ui/border.png) 30 round;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.topnav {
  height: 10em;
  background-color: teal;
  overflow: hidden;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}