.bordered_table {
    border: 30px solid transparent;
    -moz-border-image: url(img/ui/border.png) 30 round;
    -webkit-border-image: url(img/ui/border.png) 30 round;
    -o-border-image: url(img/ui/border.png) 30 round;
    border-image: url(img/ui/border.png) 30 round;

    background-image: url('img/bg/default_bg_blue.jpg');
    overflow-x: auto;
}

table {
    display: inline-block;
    border-collapse: collapse;
}

td img {
    width: 3em;
}

td:nth-child(1) {
    font-size: 80%;
}

td:nth-child(4) img {
    width: 80%;
}

th {
    font-size: 85%;
}

th,
td {
    border: 1px solid grey;
    padding: 5px;
    background-image: url('img/bg/default_bg_blue_dark.jpg');
    text-align: center;
    vertical-align: middle;
}

/*thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}*/